* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow:hidden;
}

body {
    width: 100%;
    margin: 0;
    height: 100%;
    background-color: rgb(219, 239, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    color: rgb(145, 146, 150);
}
#name{
    font-size: x-large;
    
}
.navbar{
 
    list-style-type: none;
    align-items: center;
    display:flex;
    gap: 20px;
    font-size: large;
    color: rgb(145, 146, 150);

}
a {
    text-decoration: none;
    
}
.nav-cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}

.info{

    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 15%;
    padding: 2%;
    
   
}

.info-box{

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 200px;
}

.info-icon{

    display: flex;
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

/* .info-icons {

    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 200px;
    
    
}
.info {

    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: absolute;
    top: 18%;
    left: 46%;
    transform: translateX(-40%);
}

.email{

    border-radius: 100px;
} */

