* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow:auto;
}

body {
    width: 100%;
    margin: 0;
    height: 100%;
    background-image: url('background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(145, 146, 150);
}


.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.nav-cont{
    position: relative;
    background-color: #2182a2;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgb(5, 61, 114);
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar{
    position: relative;
    display: flex;
    gap:30px;
}

.navbar li{

    list-style: none;
    position: relative;
}
.navbar li a{

    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    transition: 0.3s;
    z-index: 2;
}

.navbar li.active a{
    color: #1a1a1a;
}

.highlight {
    position: absolute;
    background: #72c7ee;
    height: 100%;
    width: 90px;
    top:0;
    border-radius: 30px;
    transition: 0.3s;
}

.navbar li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: #72c7ee;
    transition: 0.3s;

}

.navbar li:hover a::before {
    width: 80%;
}

.navbar li.active a::before {
    width: 0;
}
.experience{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.experience-box{

    align-items: center;
    justify-content: left;
    border-radius: 20px;
    background-color: white ;
    padding: 20px;
    width: 60%;
    margin: 10px;
}

h1,h2{
    
    color: #2182a2;
}


@keyframes glow-border{
    0%{
        box-shadow: 0 0 10px rgb(33, 131, 163) , 0 0 20px rgb(33, 131, 160);
    }
    100% {
        box-shadow: 0 0 20px rgb(33, 131, 166) , 0 0 40px rgb(33, 131, 163);
    }
}

